UPSTASH_REDIS_REST_URL=redis_rest_url
UPSTASH_REDIS_REST_TOKEN=redis_rest_token

# Redis URL for local development
REDIS_URL=redis_url

TRADING_212_STORAGE_ACCESS_KEY=trading_212_storage_access_key
TRADING_212_SECRET_STORAGE_ACCESS_KEY=trading_212_secret_storage_access_key

AIRTABLE_API_KEY=airtable_api_key
AIRTABLE_BASE_ID=airtable_base_id
AIRTABLE_TABLE_NAME=airtable_table_name

FLY_ACCCESS__TOKEN=fly_access_token

MARKET_SESSION=open